.container {
  width: 325px;
  height: 167px;
  overflow: auto;
  background-color: rgba(20, 20, 20, 0.2);
}
.link {
  color: #000;
  cursor: pointer;
  text-decoration: underline;
}
.heading1 {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}
.textblock {
  margin-top: 1em;
  text-align: center;
  margin-bottom: 1em;
}
.link1 {
  color: #000;
  cursor: pointer;
  margin: auto;
  display: block;
  text-align: center;
  text-decoration: underline;
}
